@include tablet{
    h1{font-size: 60px;}
    section.items{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
        .dessert{
            flex-basis: 45%;
        }
    }

    section.cart{
        width:70%;
    }

    section.finishOrder{
        width: 700px;
        max-height:90vh ;

        .orderConfirm{
            max-height: none;

            .listConfirm{
                max-height: 450px;
            }
        }
    }
}